.slds-container--large.slds-container--center
  plunker(#playground="playground")
  .slds-p-around--large
    page-component([component]="components.badges", (onTry)="playground.open($event)")
      demo-badges

    page-component([component]="components.breadcrumbs", (onTry)="playground.open($event)")
      demo-breadcrumbs

    page-component([component]="components.buttons", (onTry)="playground.open($event)")
      demo-buttons

    page-component([component]="components.datatables", (onTry)="playground.open($event)")
      demo-datatables

    page-component([component]="components.datepickers", (onTry)="playground.open($event)")
      demo-datepickers

    page-component([component]="components.forms", (onTry)="playground.open($event)")
      demo-forms

    page-component([component]="components.icons", (onTry)="playground.open($event)")
      demo-icons

    page-component([component]="components.images", (onTry)="playground.open($event)")
      demo-images

    page-component([component]="components.lookups", (onTry)="playground.open($event)")
      demo-lookups

    page-component([component]="components.menus", (onTry)="playground.open($event)")
      demo-menus

    page-component([component]="components.modals", (onTry)="playground.open($event)")
      demo-modals

    page-component([component]="components.notifications", (onTry)="playground.open($event)")
      demo-notifications

    page-component([component]="components.paginations", (onTry)="playground.open($event)")
      demo-paginations

    page-component([component]="components.pick", (onTry)="playground.open($event)")
      demo-pick

    page-component([component]="components.picklist", (onTry)="playground.open($event)")
      demo-picklist

    page-component([component]="components.pills", (onTry)="playground.open($event)")
      demo-pills

    page-component([component]="components.popovers", (onTry)="playground.open($event)")
      demo-popovers

    page-component([component]="components.ratings", (onTry)="playground.open($event)")
      demo-ratings

    page-component([component]="components.sections", (onTry)="playground.open($event)")
      demo-sections

    page-component([component]="components.spinners", (onTry)="playground.open($event)")
      demo-spinners

    page-component([component]="components.tabs", (onTry)="playground.open($event)")
      demo-tabs
